<app-top-bar (messageEvent)="navigation.toggle()"></app-top-bar>

<mat-sidenav-container class="example-sidenav-container"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #navigation [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink=".">Налаштування</a>
      <a mat-list-item routerLink=".">Завдання</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
<!--    <app-signin-form></app-signin-form>-->
    <app-signup-form></app-signup-form>
    <app-group-card *ngFor="let g of groups" [name]="g.name" [teacher]="g.teacher" [iconURL]="g.iconURL" [link]="g.link"></app-group-card>
<!--    <app-group-card></app-group-card>-->
    <app-post [done]=true [mark]="'10/10'"></app-post>
    <app-post [mark]="'a'"></app-post>
    <app-post></app-post>

  </mat-sidenav-content>
</mat-sidenav-container>
