<md-editor #md="ngModel" (onEditorLoaded)="onEditorLoaded($event)" (onPreviewDomChanged)="onPreviewDomChanged($event)"
           [(ngModel)]="content" [mode]="mode"
           [options]="options"
           [postRender]="postRender" [preRender]="preRender" [upload]="doUpload" height="400px" maxlength="600" name="Content"
           required></md-editor>
<!--<br>-->
<!--<div class="well well-sm">-->
<!--  <label class="control-label">Form validate:</label>-->
<!--  <p>Required: {{ md?.errors?.required }}</p>-->
<!--  <p>Maxlength: {{ md?.errors?.maxlength | json }}</p>-->
<!--</div>-->
