p {
  padding: 0 20px;
}

mat-expansion-panel mat-label {
  font-weight: 500;
}

::ng-deep .mat-expansion-indicator {
  margin-top: -2px;
}

mat-expansion-panel-header span {
  margin-right: 16px;
  width: 60px;
  text-align: right;
}
