<p>
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'"
                                [ngClass]="done ? 'accent-background' : ''">
      <mat-panel-title>
        Пост
      </mat-panel-title>

      <mat-panel-description>{{post.caption}}</mat-panel-description>

      <span style="margin-right: 16px; width: 30px">{{'10/10'}}</span>
    </mat-expansion-panel-header>
    <div style="padding: 10px 0">
      <mat-label>Опис:</mat-label>

      <app-markdown-editor [content]="post.description" [mode]="'preview'"></app-markdown-editor>
    </div>
    <div>
      <mat-label>Відповідь:</mat-label>
      <app-markdown-editor #answerEditor (input)="form.content = answerEditor.content" [content]="form?.content"
                           [mode]="'editor'"></app-markdown-editor>
      <button (click)="updateAnswer()" [disabled]="done" color="primary" mat-raised-button>Оновити відповідь</button>
    </div>
  </mat-expansion-panel>
</p>
