<p>
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
<!--    [ngClass]="done ? 'accent-background' : ''"-->
      <mat-panel-title>
        Пост
      </mat-panel-title>

      <mat-panel-description>{{post.caption}}</mat-panel-description>

<!--      <span>{{'10/10'}}</span>-->
    </mat-expansion-panel-header>

    <div style="padding: 10px 0">
      <mat-label>Опис:</mat-label>

      <app-markdown-editor [content]="post.description" [mode]="'preview'"></app-markdown-editor>
    </div>

    <div>
      <mat-label>Відповіді:</mat-label>
      <app-progress-table *ngIf="data.length > 0" [data]="data"></app-progress-table>
      <br>
    </div>

    <div>
      <mat-label>Відповідь:</mat-label>
      <app-markdown-editor #answerEditor (input)="form.content = answerEditor.content" [content]="form?.content"
                           [mode]="'editor'"></app-markdown-editor>
      <button (click)="updateAnswer()" [disabled]="done" color="primary" mat-raised-button>Оновити відповідь</button>
    </div>

    <br>
    <div>
      <mat-label>Коментарі:</mat-label>
      <app-comment *ngFor="let comment of post.comments" [comment]="comment"></app-comment>
      <br>
      <mat-form-field>
        <input matInput type="text" placeholder="Коментар" [(ngModel)]="newCommentInput">
      </mat-form-field>
      <button (click)="sendComment()" color="primary" mat-raised-button>Надіслати</button>
    </div>
  </mat-expansion-panel>
</p>
