<ng-template #errorDialog>
  <h2 matDialogTitle>Помилка!</h2>
  <p matDialogContent><em>Невірна пошта або пароль.</em></p>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>Більше так не буду</button>
  </mat-dialog-actions>
</ng-template>

<form #signinForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Вхід</mat-card-title>
    <mat-card-content>
      <p>
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker>
          <mat-label>Пошта</mat-label>
          <input #email="ngModel" [(ngModel)]="user.email" matInput name="email" required>
          <mat-error *ngIf="signinForm.controls['email']?.errors?.required">
            Необхідно ім'я
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker>
          <mat-label>Пароль</mat-label>
          <input #password="ngModel" [(ngModel)]="user.password" matInput name="password" required type="password">
          <mat-hint>Букви, цифри</mat-hint>
        </mat-form-field>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="!signinForm.form.valid" color="primary" mat-raised-button type="submit">Увійти</button>
      <button mat-raised-button routerLink="/signup">Зареєструватися</button>
      <button mat-raised-button routerLink="/">Головна</button>
    </mat-card-actions>
  </mat-card>
</form>
