<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navigation.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{pageName}}</span>
  <span class="fill-space"></span>
  vinnik.dmitry07@gmail.com
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #navigation mode="over" fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item routerLink="/settings">Налаштування</a>
      <a mat-list-item routerLink="/tasks">Завдання</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
