<mat-card>
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + group.iconURL + ')'}"
         class="header-image"></div>

    <mat-card-title [style]="group.editing ? 'box-shadow: 0 0 0 1px black; border-radius: 1px;' : null">
      <input *ngIf="group.editing" value="{{group.name}}">
      <a *ngIf="!group.editing" routerLink="/posts">{{group.name}}</a>
    </mat-card-title>
    <mat-card-subtitle>{{group.teacher}}</mat-card-subtitle>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Скасувати реєстрацію</span>
      </button>
      <button mat-menu-item (click)="group.editing = true">
        <mat-icon>edit</mat-icon>
        <span>Редагувати</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content class="fill-image" [ngStyle]="{'background': imageURL}"></mat-card-content>
  <mat-card-content *ngIf="group.description">
    <mat-label>Опис:</mat-label>
    <p [contentEditable]="group.editing === true">{{group.description}}</p>
  </mat-card-content>
  <mat-card-content *ngIf="group.useful">
    <mat-label>Корисне:</mat-label>
    <p [contentEditable]="group.editing === true" [innerHTML]="group.useful | linkify"></p>
  </mat-card-content>
  <mat-card-actions>
    <input style="display: none" #copyInput value="{{group.link}}">
    <button *ngIf="group.editing" mat-flat-button color="accent" (click)="group.editing = false">Зберегти</button>
    <button mat-flat-button color="primary" (click)="copyToClipboard(copyInput)">Посилання</button>
  </mat-card-actions>
</mat-card>
