<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + iconURL + ')'}" class="example-header-image"></div>
    <mat-card-title><a routerLink="/posts">{{name}}</a></mat-card-title>
    <mat-card-subtitle>{{teacher}}</mat-card-subtitle>

    <span class="fill-space"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Скасувати реєстрацію</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <div style="width: 100%; height: 187px" [ngStyle]="{'background': imageURL}"></div>
  <mat-card-content>
    <p>
      Посилання Meet: https://meet.google.com/lookup/abkxr7vwoq
    </p>
  </mat-card-content>
  <mat-card-actions>
    <input style="display: none" #copyInput value="{{link}}">
    <button mat-button (click)="copyToClipboard(copyInput)">Посилання</button>
  </mat-card-actions>
</mat-card>
