/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-space {
  flex: 1 1 auto;
}

.linkified {
  overflow-wrap: break-word;
  display: inline;
}

.mat-raised-button:first-child {
  margin-right: 8px !important;
}

.container1 {
  margin: 10px auto;
  max-width: 62.5rem;
  width: calc(100% - 2 * 1.5rem);
  overflow: auto;
}
