<mat-toolbar>
  <button (click)="navigation.toggle()" aria-label="Меню" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <ng-content select="[nav-buttons-left]"></ng-content>

  <span style="margin-left: 8px">{{pageName}}</span>

  <span class="fill-space"></span>

  <ng-content select="[nav-buttons-right]"></ng-content>

  {{user?.email}}

  <button (click)="this.logOut()" aria-label="Вийти" mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #navigation fixedTopGap="56" mode="over">
    <div class="vertical-space-between">
      <mat-nav-list>
        <a mat-list-item routerLink="/groups">Групи</a>
        <a mat-list-item routerLink="/groups-tree">Зміна груп</a>
        <a mat-list-item routerLink="/settings">Налаштування</a>
        <a mat-list-item routerLink="/tasks">Завдання</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/">Про застосунок</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
